<html>
    <head>
        <link rel="stylesheet" href="styles/styles.css" />
		
    </head>
  <body>
<!-- partial:index.partial.html -->
<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form">
      <input type="text" placeholder="email address"/>
     
      <button>Mail Check</button>
    
    </form>
  </div>
</div>

</body>
</html>